body {
  counter-reset: paragraphs 0;
}

p {
  counter-increment: paragraphs;
}

section > p:before {
  position: absolute;
  transform: translate(-2.5rem, 0.125rem);
  font-size: 90%;
  content: counter(paragraphs) " ";
}